@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: #252525;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* main or body style */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex: 1 0 auto;
}

header,
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #07c362;
    padding: 1em;
    flex-direction: column;
}

/* welcome section style */
#welcome {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* play section style */
#play {
    display: none;
    flex-direction: column;
    align-items: center;
}

#play #options {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 60px);
    gap: 10px;
}

#play .box {
    width: 100%;
    height: 100%;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play .optionsinput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

/* result */
#result {
    display: none;
    flex-direction: column;
    background-color: #7aecb1;
    padding: 1em;
    align-items: center;
}

#result h1 {
    font-weight: 900;
}

#scoreresult {
    display: flex;
    flex-direction: row;
}

#result #scoreresult div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* progress */
#progress {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* style pop up message for rules */
dialog {
    margin-top: 10px;
    background: grey;
    border: none;
    z-index: 10;
    margin: auto;
    padding: 1em;
    border-radius: 2%;
}

dialog li {
    margin-left: 1em;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

button {
    cursor: pointer;
}

#openDialogButton {
    padding: 0.5em 0.7em;
    background-color: #b1e3c9;
}

#openDialogButton:hover {
    background-color: #76edb0;
}