@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* main or body style */
main {
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    color: #252525;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* welcome section style */
#welcome {
align-items: center;
    display: flex;
    flex-direction: column;
}

/* play section style */
#play {
    display: none;
        flex-direction: column;
}

#play #options {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 60px);
    gap: 10px;
}

#play .box {
    width: 100%;
    height: 100%;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

#play .optionsinput {
    display: flex;
    flex-direction: column;
}

#inputplay {
    margin-top: 30px;
}

/* result */
#result {
    display: none;
    flex-direction: column;

}